@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: #759FBC;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid black;
}

html {
    color: white;
    font-family: 'Itim', cursive;
}

.Titre,
body h1 {
    text-align: center;
}

.header {
    background-color: #8AA1B1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.header img {
    border-radius: 25px;
    image-rendering: optimizeQuality;
    height: 90%;
}

.italique {
    font-style: italic;
}

.Links {
    background-color: #9AC2C9;
    display: flex;
    justify-content: space-evenly;
}

.Links a {
    margin-top: auto 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 2px 2px 10px #7d7d7d86,
        -2px -2px 10px #6e6e6e77;
    margin: 15px;
}

.Links a:hover {
    color: white;
    background-color: #8AA1B1;
}

div {
    text-align: center;
}

div h1 {
    color: black;
}

.QuiSuisJe {
    border-bottom: 1px solid black;
}

.Competences {
    text-align: justify;
    border-bottom: 1px solid black;
}

.ExperiencesPro {
    border-bottom: 1px solid black;
}

.Formation {
    border-bottom: 1px solid black;
}